html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.common-wrap {
  text-align: left;
  padding: 20px;
}

/* td 多行溢出 ... 显示 */
.multiple-line-txt-cut {
  display: -webkit-box;
  overflow: hidden;
  line-height: 18px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* td 单行行溢出 ... 显示 */
.txt-cut {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ml10{
  margin-left: 10px;
}
